body {
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    color: white;
    background-color: black;
    padding: 15px;
}

nav {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.products {
    display: flex;
    justify-content: center;
}

.card {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    width: 220px;
    margin: 10px;
    transition: transform 0.2s;
    text-align:center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    margin: 10px;
}

button {
    padding: 8px 12px;
    margin: 15px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}